<:Title>
  Date/Time formatting. Ew.

<:Body>

  <div class="date-reference">
    <div class="date-controls">
      <h2>Set Date and Time:</h2>
      <div class="inputs">

        {{if `Modernizr.inputtypes.date`}}
          <input type="date" value="{{page._selected_date}}">
        {{ else }}
          <input type="text" value="{{page._selected_date}}">
        {{ end }}

        {{if `Modernizr.inputtypes.time`}}
          <input type="time" value="{{page._selected_time}}">
        {{ else }}
          <input type="text" value="{{page._selected_time}}">
        {{ end }}

      </div>
      <div class="buttons">
        <button e-click="set_random_time">Randomize</button>
        <button e-click="set_time_to_now">Set to Now</button>
      </div>
      <br>

      <h2>Try Formats Out:</h2>
      <input type="text" value="{{page._time_string}}" class="date-string-input"/>
      <div class="formatted-date-string">
        {{display_time_as(page._time_string)}}
      </div>
    </div>

    <div class="date-formatting-display">
      <h2>Reference:</h2>
      <p>You can mouseover these for explanations.</p>
      {{ string_format_codes.keys.each do |key| }}
        <div class="list">
          <h3>{{ key.capitalize }}</h3>
          <ul>
            {{ string_format_codes[key].each do |code| }}
              <li data-toggle="tooltip" data-placement="bottom" title="{{code[1]}}"><div class="code">{{ code[0] }}</div> <div class="string">{{ display_time_as(code[0]) }}</div></li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>
  </div>