<:Title>
  {{ view main_path, "title", {controller_group: 'main'} }}

<:Body>
  <div class="page-flexbox-wrapper">
    <header>
      <h1>DateTime formatting. Ew.</h1>
    </header>

    <main>
      {{ view main_path, 'body', {controller_group: 'main'} }}
    </main>

    <footer>
      <ul class="links">
        <li>
          <a href="http://www.neurodynamic.io">
            &copy;&nbsp;Neurodynamic {{ Time.now.year }}
          </a>
        </li>
        <li>
          Powered by <a href="https://github.com/voltrb/volt">the Volt Framework</a> 
        </li>
        <li>
          Full strftime method info <a href="http://apidock.com/ruby/DateTime/strftime">at APIDock</a>  
        </li>
      </ul>
    </footer>
  </div>

<:Nav>
  <li class="{{ if active_tab? }}active{{ end }}">
    <a href="{{ attrs.href }}">{{ yield }}</a>
  </li>

